* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Madimi One", sans-serif;
  font-weight: bold;
  font-style: normal;
 
}
html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #4d4d4d;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}